{% extends "technical_layout.html" %}

{% block title %}
Settings
{% endblock %}

{% block style %}
.wrap {
width: 49%;
float: left;
text-align: center;
}
h1 {
text-align: center;
margin-bottom: 50px;
}
{% endblock %}

{% block body %}
<h1>Hello, {{ name }}!</h1>
<div class="wrap">
<h3>Change password</h3><br><br>
<form action='/change_pas' method="POST">
Old password: <input type="password" name="old" />
<br>
<br>
New password: <input type="password" name="new" />
<br>
<br>
Again new password: <input type="password" name="new_ag" />
<br>
<br>
<input type="submit" value="CHANGE" />
</form>
</div>
<div class="wrap">
<h3>Change e-mail</h3><br><br>
<form action='/change_mail' method="POST">
Old e-mail: <input type="text" name="old" />
<br>
<br>
New e-mail: <input type="text" name="new" />
<br>
<br>
Again new e-mail: <input type="text" name="new_ag" />
<br>
<br>
<input type="submit" value="CHANGE" />
</form>
</div>

<script>

</script>
{% endblock %}