{% extends "layout.html" %}

{% block title %}
Games
{% endblock %}

{% block style %}
.game {
    width: 300px;
    height: 320px;
    color: green;
    background-color: aquamarine;
    padding-top: 5px;
    text-align: center;
    margin-left: 30px;
	margin-right: 30px;
	float: left;
}
#wrap {
	margin-top: 30px;
	height: 325px;
	width: 720px;
	margin: 0 auto;
}
{% endblock %}

{% block body %}
<div id="menu">
<a href='/records'><div class="inside">
Records
</div></a>
{% if name==0 %}
    <a href='/login'><div class="inside">
    Log in
    </div></a>
    <a href='/register'><div class="inside">
    Register
    </div></a>
{% else %}
    <a href='/profile'><div class="inside">
    My profile
    </div></a>
    <a href='/logout'><div class="inside">
    Log out
    </div></a>
{% endif %}
</div>
{% if name==0 %}
	<h1>GAMES</h1>
{% else %}
	<h1>Hello, {{ name }}!</h1>
{% endif %}
<div id="wrap">
<a href="/snake"><div id="snake" class="game">Snake<br><img src="static/Snake.jpg" width="260" height="260"></div></a>
<a href="/tictactoe"><div id="tic" class="game">Tic-Tac-Toe<br><img src="static/tic.jpg" width="260" height="260"></div></a>
</div>
{% endblock %}